In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import re
import seaborn as sns

In [4]:
df = pd.read_csv("compiled_raw_y.csv", index_col=0, header=0)
df

,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DEWP,FRSHTT,GUST,MAX,MIN,...,WEEKDAY,MONTH,Y,Y+1,Y+2,Y+3,Y+4,Y+5,Y+6,Y+7
STATION,,,,,,,,,,,,,,,,,,,,,
48303499999,"ROI ET, TH",16.116761,103.773797,137.46,25.02.10,65.8,0,999.9,98.6,87.8,...,5,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48303499999,"ROI ET, TH",16.116761,103.773797,137.46,27.03.10,60.5,0,999.9,89.6,75.2,...,7,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48303499999,"ROI ET, TH",16.116761,103.773797,137.46,05.04.10,72.7,0,999.9,104.0,93.2,...,2,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48303499999,"ROI ET, TH",16.116761,103.773797,137.46,27.04.10,75.6,0,999.9,96.8,80.6,...,3,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48303499999,"ROI ET, TH",16.116761,103.773797,137.46,02.05.10,74.2,0,999.9,96.8,89.6,...,1,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48557699999,"KRABI, TH",8.099117,98.986178,24.99,26.09.20,76.3,0,999.9,89.6,75.2,...,7,9,0,1.0,1.0,1.0,0.0,NaN,NaN,NaN
48557699999,"KRABI, TH",8.099117,98.986178,24.99,27.09.20,74.7,10010,999.9,87.8,71.6,...,1,9,1,1.0,1.0,0.0,NaN,NaN,NaN,NaN
48557699999,"KRABI, TH",8.099117,98.986178,24.99,28.09.20,75.0,10000,28.0,82.4,73.4,...,2,9,1,1.0,0.0,NaN,NaN,NaN,NaN,NaN
48557699999,"KRABI, TH",8.099117,98.986178,24.99,29.09.20,76.3,10000,999.9,89.6,73.4,...,3,9,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48557699999,"KRABI, TH",8.099117,98.986178,24.99,30.09.20,77.0,0,999.9,91.4,75.2,...,4,9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
cant_datos = df['NAME'].count()
cant_datos

628918

In [8]:
print("holiii")

holiii